In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('diabetes.csv')
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [3]:
df.isnull().sum()

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [4]:
X=df.drop('Outcome',axis=1)
X.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,6,148,72,35,0,33.6,0.627,50
1,1,85,66,29,0,26.6,0.351,31
2,8,183,64,0,0,23.3,0.672,32
3,1,89,66,23,94,28.1,0.167,21
4,0,137,40,35,168,43.1,2.288,33

In [6]:
y=df['Outcome']
y.head()

0    1
1    0
2    1
3    0
4    1
Name: Outcome, dtype: int64

In [64]:
dict={}
for i in df.columns:
    dict[i]=df[i].value_counts().shape[0]
    
pd.DataFrame(dict,index=['unique']).transpose()

                          unique
Pregnancies                   17
Glucose                      136
BloodPressure                 47
SkinThickness                 51
Insulin                      186
BMI                          248
DiabetesPedigreeFunction     517
Age                           52
Outcome                        2

In [26]:
from tensorflow.keras.layers import Dense,Activation,LSTM,ReLU
from tensorflow.keras.activations import sigmoid
from tensorflow.keras.models import Sequential
model=Sequential()
model.add(Dense(12,input_dim=8,activation='relu'))
model.add(Dense(8,activation='relu'))
model.add(Dense(1,activation='sigmoid'))
model.compile(loss='binary_crossentropy',optimizer='Adam',metrics=['accuracy'])

In [27]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2)

In [30]:
model.fit(X_train,y_train,epochs=50,batch_size=20)

Epoch 1/50
31/31 [==============================] - 0s 2ms/step - loss: 0.5153 - accuracy: 0.7508
Epoch 2/50
31/31 [==============================] - 0s 2ms/step - loss: 0.5345 - accuracy: 0.7329
Epoch 3/50
31/31 [==============================] - 0s 2ms/step - loss: 0.5087 - accuracy: 0.7606
Epoch 4/50
31/31 [==============================] - 0s 2ms/step - loss: 0.5229 - accuracy: 0.7427
Epoch 5/50
31/31 [==============================] - 0s 2ms/step - loss: 0.5153 - accuracy: 0.7427
Epoch 6/50
31/31 [==============================] - 0s 1ms/step - loss: 0.5309 - accuracy: 0.7313
Epoch 7/50
31/31 [==============================] - 0s 2ms/step - loss: 0.5120 - accuracy: 0.7573
Epoch 8/50
31/31 [==============================] - 0s 2ms/step - loss: 0.5210 - accuracy: 0.7459
Epoch 9/50
31/31 [==============================] - 0s 2ms/step - loss: 0.5103 - accuracy: 0.7508
Epoch 10/50
31/31 [==============================] - 0s 2ms/step - loss: 0.5197 - accuracy: 0.7573
Epoch 11/50
31/31 [==============================] - 0s 3ms/step - loss: 0.5138 - accuracy: 0.7427
Epoch 12/50
31/31 [==============================] - 0s 2ms/step - loss: 0.5115 - accuracy: 0.7492
Epoch 13/50
31/31 [==============================] - 0s 2ms/step - loss: 0.5054 - accuracy: 0.7443
Epoch 14/50
31/31 [==============================] - 0s 2ms/step - loss: 0.5247 - accuracy: 0.7410
Epoch 15/50
31/31 [==============================] - 0s 2ms/step - loss: 0.5187 - accuracy: 0.7524
Epoch 16/50
31/31 [==============================] - 0s 2ms/step - loss: 0.5166 - accuracy: 0.7492
Epoch 17/50
31/31 [==============================] - 0s 2ms/step - loss: 0.5078 - accuracy: 0.7573
Epoch 18/50
31/31 [==============================] - 0s 2ms/step - loss: 0.5100 - accuracy: 0.7638
Epoch 19/50
31/31 [==============================] - 0s 2ms/step - loss: 0.4982 - accuracy: 0.7573
Epoch 20/50
31/31 [==============================] - 0s 2ms/step - loss: 0.5128 - accuracy: 0.7687
Epoch 21/50
31/31 [==============================] - 0s 2ms/step - loss: 0.5040 - accuracy: 0.7524
Epoch 22/50
31/31 [==============================] - 0s 2ms/step - loss: 0.5047 - accuracy: 0.7541
Epoch 23/50
31/31 [==============================] - 0s 2ms/step - loss: 0.5119 - accuracy: 0.7638
Epoch 24/50
31/31 [==============================] - 0s 2ms/step - loss: 0.5173 - accuracy: 0.7476
Epoch 25/50
31/31 [==============================] - 0s 2ms/step - loss: 0.4933 - accuracy: 0.7736
Epoch 26/50
31/31 [==============================] - 0s 2ms/step - loss: 0.4910 - accuracy: 0.7573
Epoch 27/50
31/31 [==============================] - 0s 2ms/step - loss: 0.4944 - accuracy: 0.7736
Epoch 28/50
31/31 [==============================] - 0s 2ms/step - loss: 0.5036 - accuracy: 0.7655
Epoch 29/50
31/31 [==============================] - 0s 2ms/step - loss: 0.4953 - accuracy: 0.7736
Epoch 30/50
31/31 [==============================] - 0s 2ms/step - loss: 0.5151 - accuracy: 0.7638
Epoch 31/50
31/31 [==============================] - 0s 2ms/step - loss: 0.5040 - accuracy: 0.7524
Epoch 32/50
31/31 [==============================] - 0s 2ms/step - loss: 0.5051 - accuracy: 0.7606
Epoch 33/50
31/31 [==============================] - 0s 2ms/step - loss: 0.5230 - accuracy: 0.7362
Epoch 34/50
31/31 [==============================] - 0s 3ms/step - loss: 0.5083 - accuracy: 0.7557
Epoch 35/50
31/31 [==============================] - 0s 3ms/step - loss: 0.5114 - accuracy: 0.7622
Epoch 36/50
31/31 [==============================] - 0s 2ms/step - loss: 0.5124 - accuracy: 0.7443
Epoch 37/50
31/31 [==============================] - 0s 2ms/step - loss: 0.5018 - accuracy: 0.7524
Epoch 38/50
31/31 [==============================] - 0s 2ms/step - loss: 0.4964 - accuracy: 0.7590
Epoch 39/50
31/31 [==============================] - 0s 2ms/step - loss: 0.5023 - accuracy: 0.7443
Epoch 40/50
31/31 [==============================] - 0s 2ms/step - loss: 0.5010 - accuracy: 0.7638
Epoch 41/50
31/31 [==============================] - 0s 2ms/step - loss: 0.4874 - accuracy: 0.7801
Epoch 42/50
31/31 [==============================] - 0s 2ms/step - loss: 0.4969 - accuracy: 0.7720
Epoch 43/50
31/31 [==============================] - 0s 2ms/step - loss: 0.5089 - accuracy: 0.7541
Epoch 44/50
31/31 [==============================] - 0s 2ms/step - loss: 0.5128 - accuracy: 0.7590
Epoch 45/50
31/31 [==============================] - 0s 2ms/step - loss: 0.4956 - accuracy: 0.7638
Epoch 46/50
31/31 [==============================] - 0s 2ms/step - loss: 0.5237 - accuracy: 0.7508
Epoch 47/50
31/31 [==============================] - 0s 2ms/step - loss: 0.5007 - accuracy: 0.7785
Epoch 48/50
31/31 [==============================] - 0s 2ms/step - loss: 0.4925 - accuracy: 0.7573
Epoch 49/50
31/31 [==============================] - 0s 2ms/step - loss: 0.4892 - accuracy: 0.7655
Epoch 50/50
31/31 [==============================] - 0s 2ms/step - loss: 0.4892 - accuracy: 0.7606

In [32]:
y_pred=model.predict_classes(X_test)
from sklearn.metrics import accuracy_score
accuracy=accuracy_score(y_test,y_pred)
accuracy

0.7402597402597403

In [38]:
from sklearn.naive_bayes import MultinomialNB
from sklearn import metrics
model=MultinomialNB(alpha=0.4)
model.fit(X_train,y_train)
y_pred=model.predict(X_test)
print(metrics.accuracy_score(y_test,y_pred))

0.564935064935065

In [ ]:
i_score=0
for i in np.arange(0,1,0.1):
    model=MultinomialNB(alpha=i)
    model.fit(X_train,y_train)
    y_pred=model.predict(X_test)
    score=metrics.accuracy_score(y_test,y_pred)
    if i_score<score:

In [52]:
from sklearn.linear_model import  PassiveAggressiveClassifier
from sklearn import metrics
model=PassiveAggressiveClassifier(max_iter=1000)
model.fit(X_train,y_train)
y_pred=model.predict(X_test)
print(metrics.accuracy_score(y_test,y_pred))

0.6623376623376623